server:
  port: 8888


spring:
  application:
    name: config-service
  profiles:
    active: native
  rabbitmq:
    host: 127.0.0.1
    port: 5672
    username: guest
    password: guest
  cloud:
    config:
      server:
        native:
          search-locations: file://${user.home}/Desktop
        git:
          uri:

management:
  endpoints:
    web:
      exposure:
        include: health, busrefresh